
WalkControl/bin/Debug/WalkControl.vshost.exe.manifest
WalkControl/bin/Debug/WalkControl.vshost.exe
WalkControl/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
WalkControl/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WalkControl.suo